@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  
:root {
    --primary-color: #778899;
    --secondary-color: #8a6a64;
}

* {
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

body {
    
    background-color:rgb(143, 131, 63);
}
.navbar {
    overflow: hidden;
    height:45px;
    padding-bottom:0.1px;}

    span {
    float:left;
    font-size:30px;
    padding:10px;
    cursor:pointer;
    color:white;
    }
    
    .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    }
    
    .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    }
    
    .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    }
    
    .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    }
    
    .overlay a {
    font-size: 20px;
    }
    
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

.container {
    max-width: 60rem;
    margin: 2rem auto;
    padding-bottom: 2rem;
    -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
h1 {
    padding-top: 25px;
    text-align: center;
    color:white;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
  }
header {
    width: 100%;
    background: var(--primary-color);
    padding: 1rem;
}

header h3 {
    color: #fff;
    margin-left: 1.5rem;
}

.table-users {
    width: 90%;
    margin: 1rem auto;
    border-collapse: collapse;
}

.table-users th, .table-users td {
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: .5rem;
}

.table-users th {
    background: #fafafa;
    padding: 1rem auto;
}

.btn {
    background: transparent;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}

.btn-edit {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-edit:hover {
    background:var(--primary-color);
    color: #fff;
}

.btn-delete {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-delete:hover {
    background:var(--secondary-color);
    color: #fff;
}
.table-wrapper {
    text-align: center;
}

.btn-add {
    width: 6rem;
    height: 2rem;
    background: var(--primary-color);
    border: none;
    color:  #fff;
}
.btn-add:hover {
    background-color: rgb(105, 102, 102);
}
/* Modal */
.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #24232354;
    display: none;
}

.modal {
    position: relative;
    background: white;
    text-align: center;
    width: 25rem;
    margin: 5rem auto;
    -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    animation-name: animatetop;
    animation-duration: .4s;
}

@keyframes animatetop {
    from{
        top: -300px; opacity: 0;
    }
    to {
        top: 0; opacity: 1;
    }
}
.modal-show {
    display: block;
}

.modal-header {
    margin-bottom: 1rem;
    background: lightslategray;
    padding: 2rem;
}

.modal-body {
    padding: 2rem;
}

.btn-modal {
    background: var(--primary-color);
    border: none;
    color: white;
    width: 9rem;
}

input {
    width: 100%;
    height: 2.2rem;
    margin-bottom: 1rem;
    text-indent: .5rem;
    outline: none;
}


.dropbtn {
    background: none;
    color: black;
    padding: 12px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    text-align: left;
    margin-left:1.7rem;
    margin-bottom: 0.8px;
    margin-top: 15px;
    width:11rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color:goldenrod;}